body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div > p {
    text-align: center;
}

.background-image {
    flex: 0 0 auto;
    height: 50vh;
    width: 700px;
    background: url('https://images.unsplash.com/photo-1562674111-fa6a64c1b345?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'),
                steelblue;
    background-size: cover;
}

.normal {
    background-blend-mode: normal;
}

.multiply {
    background-blend-mode: multiply;
}

.hard-light {
    background-blend-mode: hard-light;
}

.difference {
    background-blend-mode: difference;
}

.screen {
    background-blend-mode: screen;
}

.overlay {
    background-blend-mode: overlay;
}